<a href="https://colab.research.google.com/github/minkyoJang/AI-BigDataStudy/blob/master/ct-Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬에서의 집합 = set

Python은 set이라는 형태로 집합 자료구조를 제공합니다. 집합은 `set()`과 같이 초기화할 수 있습니다.

## 집합은 언제 사용해야 하나요?

집합은 이럴 때 사용합니다.

1. 데이터의 중복이 없어도 될 때
    * 집합에 담긴 모든 데이터는 유니크합니다. 
    * 예를 들어,  집합에 5를 2번 넣어도 집합은 자신이 가진 원소 중 5는 하나만 있다고 생각합니다.
2. 다루는 데이터의 삽입/삭제/서치가 자주 일어날 때. 특히 다루는 데이터가 정수가 아닐 때.
    * 숫자형 데이터는 list에서 index를 통해 접근할 수 있습니다. 집합은 문자열 등 리스트의 index로 활용하지 못하는 데이터를 빠르게 탐색할 때 유용합니다.
    * 예를 들어, 리스트에 "abc"라는 원소가 있는지 알아내려면 O(N)이 걸립니다. 반면 집합은 O(1)이 소요됩니다.
3. (수학적으로) 교집합, 합집합, 차집합 등을 구해야 할 때
    * 파이썬의 집합은 수학에서 말하는 집합이 가진 대부분의 기능을 제공합니다. 차집합이나 교집합 등은 코딩 테스트 시 유용하게 쓰이니 알아두세요.


#### 집합이 지원하는 operation

Dictionary의 Time Complexity는 다음과 같습니다.

| Operation | 예시            | Time Complexity - Average Case |
|-----------|-----------------|--------------------------------|
| 탐색      | "abc" in my_set | O( 1 )                           |
| 제거      | my_set.remove | O( 1 )                           |
| 합집합    | set1 &#124; set2     | O( len(set1) + len(set2) )       |
| 교집합    | set1 & set2     | O( min(len(set1), len(set2)) )    |
| 차집합    | set1 - set2     | O( len(set1) )                   |
| 대칭차🚩   | set1 ^ set2     | O( len(set1) )                   |

🚩대칭차 = 합집합 - 교집합

#### 주의

hashable 타입만 집합의 원소로 넣을 수 있습니다. 예를 들어, list는 hashable 하지 않아 집합에 넣을 수 없고, tuple은 hashable 하여 집합에 넣을 수 있습니다.

* hashable 타입: int, float, decimal, bool, string, tuple, frozenset 등
* non-hashable 타입: list, dict, set, 유저가 직접 만든클래스 등


<br>

표 출처: 파이썬 위키, https://wiki.python.org/moin/TimeComplexity, 2019.03.20

## 집합 - Init

`set`함수를 호출하면 빈 집합을 선언할 수 있습니다. 물론 특정 원소를 가지는 집합을 선언하는 것도 가능합니다.

In [0]:
# 빈 집합 생성하기

empty_set = set()
empty_set

set()

In [0]:
# 특정 원소를 가지는 집합 선언하기

my_set = set([1, 2, 3, 1, 2, 3])
my_set

{1, 2, 3}

## 집합 - Add

집합에 원소를 넣을 때에는 add 메소드를 이용합니다.

In [0]:
# 값 집어넣기

my_set = set()
my_set.add(3)
my_set.add("데미")

my_set

{3, '데미'}

In [0]:
# 주의! 리스트는 set의 원소가 될 수 없음. 대신 tuple을 이용할 것을 권장

my_set = set()
my_list = [1,2,3,4]
my_set.add(my_list) # 리스트를 set에 넣으면 에러

TypeError: ignored

## 집합 - Delete

집합에서 특정 원소를 지우려면 `remove` 메소드를 이용하세요.

In [0]:
# 원소 제거 예시
my_set = set([1,2,3,4,5])
my_set.remove(1)

my_set

{2, 3, 4, 5}

## 집합 - 합/차/교집합 등 집합 관련 operation

unary operator를 사용해 두 집합 간의 합집합, 차집합, 교집합을 구할 수 있습니다. 다음 코드를 참고해보세요.

In [0]:
# 합집합: | 를 사용
set1 = set([1,2,3,4,5])
set2 = set([4,5,6,7,8])

set1 | set2

{1, 2, 3, 4, 5, 6, 7, 8}

In [0]:
# 차집합: - 를 사용

set1 = set([1,2,3,4,5])
set2 = set([4,5,6,7,8])

set1 - set2

{1, 2, 3}

In [0]:
# 교집합: & 를 사용

set1 = set([1,2,3,4,5])
set2 = set([4,5,6,7,8])

set1 & set2

{4, 5}