## SQLite 확인

In [1]:
import sqlite3

In [2]:
sqlite3.version

'2.6.0'

In [3]:
sqlite3.version_info

(2, 6, 0)

In [4]:
sqlite3.sqlite_version

'3.27.2'

In [5]:
sqlite3.sqlite_version_info

(3, 27, 2)

## DB 서버 접속

conn = sqlite3.connect('경로/이름' or ':memory:')

In [6]:
conn = sqlite3.connect('sqlite')

커서 객체 생성한다. 커서를 이용하여 sql문으로 db랑 소통
- conn.cursor()

In [7]:
cur = conn.cursor()

## execute, fetch 확인.
### - execute
    - 1개의 쿼리문을 1번 실행할 때
    - many : 1개의 쿼리문을 여러번 실행할 때
    - script : 여러개의 쿼리문을 실행할 때
### - fetch
    - all : 리스트 형태로 모두 가져온다.
    - one : 내가 지정한거 하나만 가져온다.
    - many : 내가 지정한 것 다 가져온다.

In [8]:
type(cur)

sqlite3.Cursor

In [9]:
dir(cur)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'arraysize',
 'close',
 'connection',
 'description',
 'execute',
 'executemany',
 'executescript',
 'fetchall',
 'fetchmany',
 'fetchone',
 'lastrowid',
 'row_factory',
 'rowcount',
 'setinputsizes',
 'setoutputsize']

In [11]:
dir(conn)

['DataError',
 'DatabaseError',
 'Error',
 'IntegrityError',
 'InterfaceError',
 'InternalError',
 'NotSupportedError',
 'OperationalError',
 'ProgrammingError',
 'Warning',
 '__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'backup',
 'close',
 'commit',
 'create_aggregate',
 'create_collation',
 'create_function',
 'cursor',
 'enable_load_extension',
 'execute',
 'executemany',
 'executescript',
 'in_transaction',
 'interrupt',
 'isolation_level',
 'iterdump',
 'load_extension',
 'rollback',
 'row_factory',
 'set_authorizer',
 'set_progress_handler',
 'set_trace_callback',
 'text_factory',
 'total_changes']

## DB이용 - execute, fetch를 반복하는 과정

### execute는 1개의 문만 사용하므로 ;을 안 넣어도 실행해준다. 
- executescript에서는 꼭 잊지 말고 넣어야 한다.

In [14]:
cur.execute("SELECT sqlite_version()")

In [15]:
cur.fetchall()

[('3.27.2',)]

쿼리문의 문법이 올바른지 확인해준다.

In [18]:
sqlite3.complete_statement("SELECT sqlite_version()")

False

In [19]:
sqlite3.complete_statement("SELECT sqlite_version();")

True

## Data Type
- NULL
- INTEGER
- REAL
- TEXT
- BLOB

## 파라미터 전달 방식
- qmark방식 : ?사용
- named방식 : dict형으로 전달

In [ ]:
cur.execute("CREATE TABLE people (name_last, age)")

In [22]:
who = "Yeltsin"
age = 72

### qmark 방식

In [43]:
cur.execute("INSERT INTO people VALUES (?, ?)", (who, age))
cur.execute("commit")

### named 방식

In [37]:
cur.execute("""
    SELECT * 
    FROM people 
    WHERE name_last=:who and age=:age
""", {"who":who, "age":age})

print(cur.fetchone())

('Yeltsin', 72)

### executemany(sql, parameter)를 사용
- 1개의 쿼리문을 여러번 실행 할 때 사용
- iterable 형태로 parameter를 넘긴다.

### executemany에서 qmark 방식

In [29]:
sql = "INSERT INTO people VALUES (?, ?)"
curData = [('A', 1), ('B', 2), ('C', 3)]

In [30]:
cur.executemany(sql, curData)

### executemany에서 named 방식

In [46]:
sql = "INSERT INTO people VALUES (:who, :age)"
curData = [{'who':'E', 'age':1}, {'who':'F', 'age':2}, {'who':'G', 'age':3}]

In [47]:
cur.executemany(sql, curData)

In [48]:
cur.execute("SELECT * FROM people")
cur.fetchall()

[('Yeltsin', 72),
 ('Yeltsin', 72),
 ('Yeltsin', 72),
 ('Yeltsin', 72),
 ('A', 1),
 ('B', 2),
 ('C', 3),
 ('A', 1),
 ('B', 2),
 ('C', 3),
 ('Yeltsin', 72),
 ('E', 1),
 ('F', 2),
 ('G', 3)]

### executescript()는 시작 전에 commit을 자동으로 해준다.
- fetch를 할 수 없다. -> SELECT는 별도로 사용해야한다.

In [49]:
cur.executescript('''
    CREATE TABLE person(
        first_name text primary key,
        last_name text not null
    );
    
    insert into person values ('name', 'kim')
''')

In [50]:
cur.execute('select * from person')
print(cur.fetchall())

[('name', 'kim')]

### fetchone()
- 딱 한 튜플을 가져온다.

### fetchmany(size)
- 내가 가져올 사이즈를 지정하면 그 만큼 리스트 형태로 반환

### fetchall()
- 결과를 전부 가져온다

In [178]:
conn.close()

In [179]:
conn

In [180]:
conn = sqlite3.connect('create.db')
print("Opened database successfully")
cur = conn.cursor()

Opened database successfully

In [202]:
cur.execute('''
    CREATE TABLE COMPANY(
        ID INT PRIMARY KEY NOT NULL,
        NAME TEXT NOT NULL,
        AGE INT NOT NULL,
        ADDRESS CHAR(50),
        SALARY REAL
    );
''')
print('Table created successfully')

Table created successfully

In [201]:
cur.execute('DROP TABLE company')

In [203]:
cur.execute("""
    INSERT INTO COMPANY (ID, NAME, AGE, ADDRESS, SALARY) 
    VALUES (1, 'Paul', 32, 'California', 20000.00)""")

In [204]:
cur.lastrowid, conn.total_changes

(1, 9)

In [205]:
cur.execute("""
    INSERT INTO company (ID, NAME, AGE, ADDRESS, SALARY)
    VALUES (:id, :name, :age, :address, :salary)
""", {'id':2, 'name':'Allen', 'age':25, 'address':'Texas', 'salary':15000.00})

In [206]:
cur.lastrowid, conn.total_changes

(2, 10)

In [207]:
data = [(3, 'Teddy', 23, 'Norway', 200000.00), 
        (4, 'Mark', 25, 'Rich-Mond', 65000.00)]

In [208]:
cur.executemany("""
    INSERT INTO company (ID, NAME, AGE, ADDRESS, SALARY)
    VALUES (?, ?, ?, ?, ?);
""", data)

In [209]:
cur.lastrowid, conn.total_changes

(2, 12)

In [210]:
cur.executescript('''
    INSERT INTO company (ID, NAME, AGE, ADDRESS, SALARY)
    VALUES (5, 'Mark1', 25, 'Rich-Mond', 65000.00);
    
    INSERT INTO company (ID, NAME, AGE, ADDRESS, SALARY)
    VALUES (6, 'Mark2', 25, 'Rich-Mond', 65000.00);
''')

In [211]:
cur.lastrowid, conn.total_changes

(2, 14)

In [212]:
conn.commit()
print("Records created sucessfully")

Records created sucessfully

In [213]:
cur.lastrowid

2

In [214]:
cursor = cur.execute("""
    SELECT id, name, address, salary
    FROM company
""")

In [215]:
for row in cursor:
    print("ID = ", row[0], type(row[0]))
    print("NAME = ", row[1], type(row[1]))
    print("ADDRESS = ", row[2], type(row[2]))
    print("SALARY = ", row[3], type(row[3]), end='\n\n')
    
print("Operation done successfully")

ID =  1 <class 'int'>
NAME =  Paul <class 'str'>
ADDRESS =  California <class 'str'>
SALARY =  20000.0 <class 'float'>

ID =  2 <class 'int'>
NAME =  Allen <class 'str'>
ADDRESS =  Texas <class 'str'>
SALARY =  15000.0 <class 'float'>

ID =  3 <class 'int'>
NAME =  Teddy <class 'str'>
ADDRESS =  Norway <class 'str'>
SALARY =  200000.0 <class 'float'>

ID =  4 <class 'int'>
NAME =  Mark <class 'str'>
ADDRESS =  Rich-Mond <class 'str'>
SALARY =  65000.0 <class 'float'>

ID =  5 <class 'int'>
NAME =  Mark1 <class 'str'>
ADDRESS =  Rich-Mond <class 'str'>
SALARY =  65000.0 <class 'float'>

ID =  6 <class 'int'>
NAME =  Mark2 <class 'str'>
ADDRESS =  Rich-Mond <class 'str'>
SALARY =  65000.0 <class 'float'>

Operation done successfully

In [176]:
cur.lastrowid

6

In [218]:
cid = 1

cur.execute("""
    UPDATE company 
    SET salary = 25000.00
    WHERE id = :id
""", {'id':cid})

In [220]:
conn.commit()

In [221]:
print("Total numver of wors updated:", conn.total_changes)

Total numver of wors updated: 15

In [222]:
cursor = cur.execute("SELECT id, name, address, salary FROM company")
for row in cursor:
    print("ID = ", row[0], type(row[0]))
    print("NAME = ", row[1], type(row[1]))
    print("ADDRESS = ", row[2], type(row[2]))
    print("SALARY = ", row[3], type(row[3]), end='\n\n')

ID =  1 <class 'int'>
NAME =  Paul <class 'str'>
ADDRESS =  California <class 'str'>
SALARY =  25000.0 <class 'float'>

ID =  2 <class 'int'>
NAME =  Allen <class 'str'>
ADDRESS =  Texas <class 'str'>
SALARY =  15000.0 <class 'float'>

ID =  3 <class 'int'>
NAME =  Teddy <class 'str'>
ADDRESS =  Norway <class 'str'>
SALARY =  200000.0 <class 'float'>

ID =  4 <class 'int'>
NAME =  Mark <class 'str'>
ADDRESS =  Rich-Mond <class 'str'>
SALARY =  65000.0 <class 'float'>

ID =  5 <class 'int'>
NAME =  Mark1 <class 'str'>
ADDRESS =  Rich-Mond <class 'str'>
SALARY =  65000.0 <class 'float'>

ID =  6 <class 'int'>
NAME =  Mark2 <class 'str'>
ADDRESS =  Rich-Mond <class 'str'>
SALARY =  65000.0 <class 'float'>

In [223]:
cur.execute("DELETE FROM company WHERE id = 2;")

print("Total number of rows deleted:", conn.total_changes)

Total number of rows deleted: 16

In [224]:
cursor = cur.execute("SELECT id, name, address, salary FROM company")
for row in cursor:
    print("ID = ", row[0], type(row[0]))
    print("NAME = ", row[1], type(row[1]))
    print("ADDRESS = ", row[2], type(row[2]))
    print("SALARY = ", row[3], type(row[3]), end='\n\n')

ID =  1 <class 'int'>
NAME =  Paul <class 'str'>
ADDRESS =  California <class 'str'>
SALARY =  25000.0 <class 'float'>

ID =  3 <class 'int'>
NAME =  Teddy <class 'str'>
ADDRESS =  Norway <class 'str'>
SALARY =  200000.0 <class 'float'>

ID =  4 <class 'int'>
NAME =  Mark <class 'str'>
ADDRESS =  Rich-Mond <class 'str'>
SALARY =  65000.0 <class 'float'>

ID =  5 <class 'int'>
NAME =  Mark1 <class 'str'>
ADDRESS =  Rich-Mond <class 'str'>
SALARY =  65000.0 <class 'float'>

ID =  6 <class 'int'>
NAME =  Mark2 <class 'str'>
ADDRESS =  Rich-Mond <class 'str'>
SALARY =  65000.0 <class 'float'>

In [240]:
cur.executescript("""
    CREATE TABLE Artist(
        id integer not null primary key autoincrement unique,
        name text not null
    );
    
    CREATE TABLE Genre(
        id integer not null primary key autoincrement unique,
        name text not null
    );
    
    CREATE TABLE Album(
        id integer not null primary key autoincrement unique,
        title text,
        artist_id integer
    );
    
    CREATE TABLE Track(
        id integer not null primary key autoincrement unique,
        title text,
        length integer,
        rating integer,
        count integer,
        album_id integer,
        genre_id integer
    );
    
""")

In [241]:
cur.execute("INSERT INTO Artist (name) VALUES('Led Zepplin')")

In [242]:
cur.execute("insert into Artist(name) values('AC/DC')")

In [243]:
cur.execute("insert into Genre (name) values ('Rock')")

In [244]:
cur.execute("insert into Genre (name) values ('Metal')")

In [245]:
conn.commit()

In [248]:
cur.execute("""
    insert into Album (title, artist_id) 
    values(:album,
            (select id 
            from Artist 
            where name=:artist))
""", {'album':'Who Made Who', 'artist':"Led Zepplin"})

In [249]:
conn.commit()

In [250]:
cur.execute("""
    insert into Album (title, artist_id) 
    values(:album, 1)
""", {'album':'IV'})

In [251]:
cur.executescript('''
    insert into Track(title, rating, length, count, album_id, genre_id)
    values ('Black Dog', 5, 297, 0, 2, 1);
    
    insert into Track(title, rating, length, count, album_id, genre_id)
    values ('Stairway', 5, 482, 0, 2, 1);
    
    insert into Track(title, rating, length, count, album_id, genre_id)
    values ('About to Rock', 5, 313, 0, 1, 2);
    
    insert into Track(title, rating, length, count, album_id, genre_id)
    values ('Who Made Who', 5, 207, 0, 1, 2);
''')

In [252]:
conn.commit()

    SELECT Album.title, Artist.name
        From Alubum
            Join Artist on 
                Album.artist_id = Artist.id

In [254]:
cur.execute('''
    SELECT Album.id, Album.title, Artist.name
        From Album
            Join Artist on 
                Album.artist_id = Artist.id
''')

In [255]:
cursor = cur.fetchall()

In [256]:
cursor

[('Who Made Who', 'Led Zepplin'), ('IV', 'Led Zepplin')]

In [257]:
cur.execute('''
    SELECT Track.title, Track.length, Track.rating, Track.count, Genre.name
    From Track
    Join Genre on 
    Track.genre_id = Genre.id
    
''')

In [258]:
cur.execute('''
    SELECT Album.title, Track.title
        From Track
            Join Album on
                Track.album_id = Album.id
''')

In [259]:
cursor = cur.fetchall()

In [261]:
cursor

[('IV', 'Black Dog'),
 ('IV', 'Stairway'),
 ('Who Made Who', 'About to Rock'),
 ('Who Made Who', 'Who Made Who')]

In [267]:
cur.execute('''
    SELECT Track.title as 곡명, Artist.name as 가수, Album.title as 앨범, Genre.name as 장르
    FROM Track
        JOIN Artist JOIN Album JOIN Genre on
        Track.album_id = Album.id
        and 
        Track.genre_id = Genre.id
        and
        Album.artist_id = Artist.id
''')

In [268]:
cursor = cur.fetchall()

In [269]:
cursor

[('Black Dog', 'Led Zepplin', 'IV', 'Rock'),
 ('Stairway', 'Led Zepplin', 'IV', 'Rock'),
 ('About to Rock', 'Led Zepplin', 'Who Made Who', 'Metal'),
 ('Who Made Who', 'Led Zepplin', 'Who Made Who', 'Metal')]