In [1]:
import seaborn as sns

In [3]:
tips = sns.load_dataset('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

# Map
- Series 또는 DataFames 에 사용가능하다

In [5]:
tips.sex.map({'Male':1, 'Female':2}).head() # 함수냐 딕셔너리냐 시리즈냐
# map은 series에서만 쓸 수 있다.

0    2
1    1
2    1
3    1
4    2
Name: sex, dtype: int64

In [6]:
tips.sex.map(lambda x : 1 if x=='Male' else 2).head() # 시리즏 데이터가 하나씩 들어감

0    2
1    1
2    1
3    1
4    2
Name: sex, dtype: category
Categories (2, int64): [1, 2]

# Apply
- series에서는 `map`과 같다
- DataFrames에서는 좀 더 빠르다

In [11]:
tips.sex.apply(lambda x : 1 if x=='Male' else 2).head()

0    2
1    1
2    1
3    1
4    2
Name: sex, dtype: category
Categories (2, int64): [1, 2]

In [9]:
tips.apply(lambda x : x['total_bill']+x['tip'], axis=1).head()

0    18.00
1    12.00
2    24.51
3    26.99
4    28.20
dtype: float64

In [10]:
tips[['total_bill', 'tip']].apply(lambda x : sum(x))

total_bill    4827.77
tip            731.58
dtype: float64

In [18]:
 tips[['total_bill', 'tip']].applymap(lambda x : x+1).head()

   total_bill   tip
0       17.99  2.01
1       11.34  2.66
2       22.01  4.50
3       24.68  4.31
4       25.59  4.61

In [20]:
tips['ratio'] = tips[['total_bill', 'tip']].apply(lambda x : x['tip']/x['total_bill'],axis=1)

In [16]:
tips.head()

   total_bill   tip     sex smoker  day    time  size     ratio
0       16.99  1.01  Female     No  Sun  Dinner     2  0.059447
1       10.34  1.66    Male     No  Sun  Dinner     3  0.160542
2       21.01  3.50    Male     No  Sun  Dinner     3  0.166587
3       23.68  3.31    Male     No  Sun  Dinner     2  0.139780
4       24.59  3.61  Female     No  Sun  Dinner     4  0.146808