# ORM
테이블 간의 관계보다 *데이터베이스에 대한 처리*에 집중

In [2]:
import sqlalchemy

In [3]:
sqlalchemy.__version__

'1.2.13'

## Connecting
- lazy connecting
- the echo flag is a shortcut to setting up SQLAlchemy logging

### create_engine

In [1]:
from sqlalchemy import create_engine

In [15]:
# dialect+driver://username:password@host:port/database
# sqlite://<nohostname>/<path>
engine = create_engine("sqlite:///tag.db", echo=True)

In [16]:
print(engine)

Engine(sqlite:///tag.db)

In [17]:
type(engine)

sqlalchemy.engine.base.Engine

## Create

### Table

In [10]:
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey

In [20]:
metadata = MetaData()
user = Table('users', metadata,
            Column('id', Integer, primary_key=True),
            Column('name', String),
            Column('fullname', String),
)
addresses = Table('addresses', metadata,
                 Column('id', Integer, primary_key=True),
                 Column('user_id', None, ForeignKey('users.id')),
                 Column('email_address', String, nullable=False),
)

In [32]:
metadata.tables

immutabledict({'users': Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), schema=None), 'addresses': Table('addresses', MetaData(bind=None), Column('id', Integer(), table=<addresses>, primary_key=True, nullable=False), Column('user_id', Integer(), ForeignKey('users.id'), table=<addresses>), Column('email_address', String(), table=<addresses>, nullable=False), schema=None)})

In [33]:
metadata.create_all(engine)

2019-07-09 11:18:36,441 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-07-09 11:18:36,443 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 11:18:36,448 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-07-09 11:18:36,450 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 11:18:36,453 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2019-07-09 11:18:36,455 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 11:18:36,461 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("addresses")
2019-07-09 11:18:36,463 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 11:18:36,467 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	PRIMARY KEY (id)
)


2019-07-09 11:18:36,469 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 11:18:36,481 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 11:18:36,483 INFO sqlalchemy.engine.base.Engine
CREATE TABLE addresses (
	id INTEGER NOT NULL,
	user_id INTEGER,
	email_address VARCHAR NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES users (id)
)


2019-07-09 11:18:36,485 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 11:18:36,495 INFO sqlalchemy.engine.base.Engine COMMIT

## INSERT

In [36]:
insert = user.insert()
print(insert)

insert = user.insert().values(name='kim', fullname='Anonymous, Kim')
print(insert)

insert.compile().params

INSERT INTO users (id, name, fullname) VALUES (:id, :name, :fullname)
INSERT INTO users (name, fullname) VALUES (:name, :fullname)

{'name': 'kim', 'fullname': 'Anonymous, Kim'}

## Executing

In [38]:
# connection
conn = engine.connect()
print(conn)

insert.bind = engine
str(insert)

result = conn.execute(insert)

result.inserted_primary_key

<sqlalchemy.engine.base.Connection object at 0x000002C645144128>
2019-07-09 11:32:27,774 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2019-07-09 11:32:27,776 INFO sqlalchemy.engine.base.Engine ('kim', 'Anonymous, Kim')
2019-07-09 11:32:27,780 INFO sqlalchemy.engine.base.Engine COMMIT

[1]

In [39]:
insert = user.insert()
result = conn.execute(insert, name='lee', fullname='unkown Lee')
result.inserted_primary_key

2019-07-09 11:33:53,462 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2019-07-09 11:33:53,464 INFO sqlalchemy.engine.base.Engine ('lee', 'unkown Lee')
2019-07-09 11:33:53,468 INFO sqlalchemy.engine.base.Engine COMMIT

[2]

In [40]:
conn.execute(addresses.insert(), [
    {'user_id':1, 'email_address':'anonymous.kim@gmail.com'},
    {'user_id':2, 'email_address':'unknown.lee@naver.com'},
])

2019-07-09 11:35:30,889 INFO sqlalchemy.engine.base.Engine INSERT INTO addresses (user_id, email_address) VALUES (?, ?)
2019-07-09 11:35:30,891 INFO sqlalchemy.engine.base.Engine ((1, 'anonymous.kim@gmail.com'), (2, 'unknown.lee@naver.com'))
2019-07-09 11:35:30,895 INFO sqlalchemy.engine.base.Engine COMMIT

## SELECT

In [8]:
from sqlalchemy.sql import select

In [42]:
cur = conn.execute(select([user]))
cur.fetchall()

2019-07-09 11:45:43,138 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
2019-07-09 11:45:43,140 INFO sqlalchemy.engine.base.Engine ()

[(1, 'kim', 'Anonymous, Kim'), (2, 'lee', 'unkown Lee')]

## Conjunctions

In [43]:
from sqlalchemy import and_, or_, not_

In [46]:
print(user.c.id == addresses.c.user_id)
print(user.c.id == 1)
# print((user.c.id==1).complie().params)
print(or_(user.c.id == addresses.c.user_id, user.c.id == 1))
print(and_(user.c.id == addresses.c.user_id, user.c.id ==1))
print(and_(
        or_(
            user.c.id == addresses.c.user_id,
            user.c.id == 1
        ),
        addresses.c.email_address.like("a%")
))

users.id = addresses.user_id
users.id = :id_1
users.id = addresses.user_id OR users.id = :id_1
users.id = addresses.user_id AND users.id = :id_1
(users.id = addresses.user_id OR users.id = :id_1) AND addresses.email_address LIKE :email_address_1

## Selecting

In [47]:
result = conn.execute(select([user]).where(user.c.id == 1))
for row in result:
    print(row)

2019-07-09 13:17:07,267 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
WHERE users.id = ?
2019-07-09 13:17:07,269 INFO sqlalchemy.engine.base.Engine (1,)
(1, 'kim', 'Anonymous, Kim')

In [49]:
result = conn.execute(select([user, addresses]).where(user.c.id == addresses.c.user_id))
for row in result:
    print(row)

2019-07-09 13:18:33,837 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname, addresses.id, addresses.user_id, addresses.email_address
FROM users, addresses
WHERE users.id = addresses.user_id
2019-07-09 13:18:33,839 INFO sqlalchemy.engine.base.Engine ()
(1, 'kim', 'Anonymous, Kim', 1, 1, 'anonymous.kim@gmail.com')
(2, 'lee', 'unkown Lee', 2, 2, 'unknown.lee@naver.com')

## Join

In [50]:
from sqlalchemy import join

In [51]:
print(user.join(addresses)) ## 미리 foreign key 설정해놔서 자동으로 됨
print(user.join(addresses, user.c.id == addresses.c.user_id))

users JOIN addresses ON users.id = addresses.user_id
users JOIN addresses ON users.id = addresses.user_id

In [57]:
query = select([user.c.id,
               user.c.fullname,
               addresses.c.email_address]) \
               .select_from(user.join(addresses))

result = conn.execute(query).fetchall()
for row in result:
    print(row)

2019-07-09 13:26:51,180 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.fullname, addresses.email_address
FROM users JOIN addresses ON users.id = addresses.user_id
2019-07-09 13:26:51,183 INFO sqlalchemy.engine.base.Engine ()
(1, 'Anonymous, Kim', 'anonymous.kim@gmail.com')
(2, 'unkown Lee', 'unknown.lee@naver.com')

실습
----------------------------

In [58]:
metadata.clear()

In [62]:
metadata.tables

immutabledict({})

In [61]:
engine = create_engine("sqlite:///music_orm.db", echo=True)
metadata = MetaData()

### CREATE

In [64]:
# create
artist = Table("Artist", metadata,
               Column('id', Integer, primary_key=True),
               Column('name', String, nullable=False),
               extend_existing=True
              )

album = Table("Album", metadata,
               Column('id', Integer, primary_key=True),
               Column('title', String, nullable=False),
              Column('artist_id', Integer, ForeignKey('Artist.id')),
               extend_existing=True
              )

genre = Table("Genre", metadata,
               Column('id', Integer, primary_key=True),
               Column('name', String, nullable=False),
               extend_existing=True
              )

track = Table("Track", metadata,
               Column('id', Integer, primary_key=True),
               Column('title', String, nullable=False),
              Column('length', Integer, nullable=False),
              Column('rating', Integer, nullable=False),
              Column('count', Integer, nullable=False),
              Column('album_id', Integer, ForeignKey('Album.id')),
              Column('genre_id', Integer, ForeignKey('Genre.id')),
               extend_existing=True
              )

In [65]:
metadata.create_all(engine)

2019-07-09 13:39:16,984 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-07-09 13:39:16,986 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:39:16,988 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-07-09 13:39:16,989 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:39:16,992 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2019-07-09 13:39:16,994 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:39:16,997 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2019-07-09 13:39:16,998 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:39:17,000 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2019-07-09 13:39:17,002 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:39:17,004 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2019-07-09 13:39:17,006 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:39:17,009 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Artist" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2019-07-09 13:39:17,011 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:39:17,025 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 13:39:17,027 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Genre" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2019-07-09 13:39:17,029 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:39:17,044 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 13:39:17,046 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Album" (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	artist_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(artist_id) REFERENCES "Artist" (id)
)


2019-07-09 13:39:17,048 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:39:17,058 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 13:39:17,060 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Track" (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	length INTEGER NOT NULL,
	rating INTEGER NOT NULL,
	count INTEGER NOT NULL,
	album_id INTEGER,
	genre_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(album_id) REFERENCES "Album" (id),
	FOREIGN KEY(genre_id) REFERENCES "Genre" (id)
)


2019-07-09 13:39:17,061 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:39:17,072 INFO sqlalchemy.engine.base.Engine COMMIT

### INSERT

In [66]:
conn = engine.connect()

In [67]:
conn.execute(artist.insert(), [{"name":"Led Zepplin"}, {"name":"AC/DC"}])
conn.execute(album.insert(), [{"title":"TV", "artist_id":1}, {"title":"AC/DC", "artist_id":2}])
conn.execute(genre.insert(), [{"name":"rock"}, {"name":"metal"}])
conn.execute(track.insert(), [{"title":"Black Dog", "rating":5, "length":297, "count":0, "album_id":1, "genre_id":1},
                              {"title":"Stairway", "rating":5, "length":482, "count":0, "album_id":1, "genre_id":1},
                             {"title":"About to Rock", "rating":5, "length":311, "count":0, "album_id":2, "genre_id":2},
                             {"title":"Who made Who", "rating":5, "length":297, "count":0, "album_id":2, "genre_id":2}])

2019-07-09 13:49:03,969 INFO sqlalchemy.engine.base.Engine INSERT INTO "Artist" (name) VALUES (?)
2019-07-09 13:49:03,972 INFO sqlalchemy.engine.base.Engine (('Led Zepplin',), ('AC/DC',))
2019-07-09 13:49:03,976 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 13:49:03,987 INFO sqlalchemy.engine.base.Engine INSERT INTO "Album" (title, artist_id) VALUES (?, ?)
2019-07-09 13:49:03,989 INFO sqlalchemy.engine.base.Engine (('TV', 1), ('AC/DC', 2))
2019-07-09 13:49:03,992 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 13:49:04,008 INFO sqlalchemy.engine.base.Engine INSERT INTO "Genre" (name) VALUES (?)
2019-07-09 13:49:04,009 INFO sqlalchemy.engine.base.Engine (('rock',), ('metal',))
2019-07-09 13:49:04,012 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 13:49:04,027 INFO sqlalchemy.engine.base.Engine INSERT INTO "Track" (title, length, rating, count, album_id, genre_id) VALUES (?, ?, ?, ?, ?, ?)
2019-07-09 13:49:04,028 INFO sqlalchemy.engine.base.Engine (('Black Dog', 297, 5, 0, 1, 1), ('Stairway', 482, 5, 0, 1, 1), ('About to Rock', 311, 5, 0, 2, 2), ('Who made Who', 297, 5, 0, 2, 2))
2019-07-09 13:49:04,031 INFO sqlalchemy.engine.base.Engine COMMIT

In [70]:
for table in engine.table_names():
    print(table)

2019-07-09 14:07:12,460 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-07-09 14:07:12,461 INFO sqlalchemy.engine.base.Engine ()
Album
Artist
Genre
Track

### SELECT

In [71]:
for row in conn.execute(artist.select()):
    print(row)
for row in conn.execute(album.select()):
    print(row)
for row in conn.execute(genre.select()):
    print(row)
for row in conn.execute(track.select()):
    print(row)

2019-07-09 14:09:59,582 INFO sqlalchemy.engine.base.Engine SELECT "Artist".id, "Artist".name
FROM "Artist"
2019-07-09 14:09:59,584 INFO sqlalchemy.engine.base.Engine ()
(1, 'Led Zepplin')
(2, 'AC/DC')
2019-07-09 14:09:59,588 INFO sqlalchemy.engine.base.Engine SELECT "Album".id, "Album".title, "Album".artist_id
FROM "Album"
2019-07-09 14:09:59,590 INFO sqlalchemy.engine.base.Engine ()
(1, 'TV', 1)
(2, 'AC/DC', 2)
2019-07-09 14:09:59,593 INFO sqlalchemy.engine.base.Engine SELECT "Genre".id, "Genre".name
FROM "Genre"
2019-07-09 14:09:59,595 INFO sqlalchemy.engine.base.Engine ()
(1, 'rock')
(2, 'metal')
2019-07-09 14:09:59,599 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track"
2019-07-09 14:09:59,601 INFO sqlalchemy.engine.base.Engine ()
(1, 'Black Dog', 297, 5, 0, 1, 1)
(2, 'Stairway', 482, 5, 0, 1, 1)
(3, 'About to Rock', 311, 5, 0, 2, 2)
(4, 'Who made Who', 297, 5, 0, 2, 2)

### WHERE

In [73]:
trackResult = conn.execute(select([track])
                           .where(
                           and_(track.c.album_id == 1, track.c.genre_id==1)))
for row in trackResult:
    print(row)

2019-07-09 14:11:30,881 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track"
WHERE "Track".album_id = ? AND "Track".genre_id = ?
2019-07-09 14:11:30,883 INFO sqlalchemy.engine.base.Engine (1, 1)
(1, 'Black Dog', 297, 5, 0, 1, 1)
(2, 'Stairway', 482, 5, 0, 1, 1)

### Update

In [74]:
from sqlalchemy import update

In [75]:
conn.execute(track.update().values(genre_id=2).where(track.c.id==2))
conn.execute(track.update().values(genre_id=1).where(track.c.id==3))

2019-07-09 14:13:17,257 INFO sqlalchemy.engine.base.Engine UPDATE "Track" SET genre_id=? WHERE "Track".id = ?
2019-07-09 14:13:17,259 INFO sqlalchemy.engine.base.Engine (2, 2)
2019-07-09 14:13:17,262 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 14:13:17,278 INFO sqlalchemy.engine.base.Engine UPDATE "Track" SET genre_id=? WHERE "Track".id = ?
2019-07-09 14:13:17,279 INFO sqlalchemy.engine.base.Engine (1, 3)
2019-07-09 14:13:17,284 INFO sqlalchemy.engine.base.Engine COMMIT

### Join

In [76]:
print(track.join(album))

"Track" JOIN "Album" ON "Album".id = "Track".album_id

In [77]:
result = conn.execute(track
                      .select()
                     .select_from(track.join(album)))

for row in result.fetchall():
    print(row)

2019-07-09 14:14:46,273 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id
2019-07-09 14:14:46,274 INFO sqlalchemy.engine.base.Engine ()
(1, 'Black Dog', 297, 5, 0, 1, 1)
(2, 'Stairway', 482, 5, 0, 1, 2)
(3, 'About to Rock', 311, 5, 0, 2, 1)
(4, 'Who made Who', 297, 5, 0, 2, 2)

### Multiple Join

In [79]:
print(track.join(album))
print(track.join(album).join(genre))
print(track.join(album).join(artist))
print(track.join(album).join(genre).join(artist))

"Track" JOIN "Album" ON "Album".id = "Track".album_id
"Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id
"Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Artist" ON "Artist".id = "Album".artist_id
"Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id

In [80]:
result = conn.execute(select([track.c.title, album.c.title, genre.c.name, artist.c.name])
                     .select_from(track.join(album).join(genre).join(artist)))

for row in result.fetchall():
    print(row)

2019-07-09 14:18:45,873 INFO sqlalchemy.engine.base.Engine SELECT "Track".title, "Album".title, "Genre".name, "Artist".name
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id
2019-07-09 14:18:45,875 INFO sqlalchemy.engine.base.Engine ()
('Black Dog', 'TV', 'rock', 'Led Zepplin')
('Stairway', 'TV', 'metal', 'Led Zepplin')
('About to Rock', 'AC/DC', 'rock', 'AC/DC')
('Who made Who', 'AC/DC', 'metal', 'AC/DC')

### Close

In [89]:
conn.close()
metadata.clear()

In [83]:
metadata.tables

immutabledict({})

In [85]:
engine.table_names()

2019-07-09 14:20:36,953 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-07-09 14:20:36,954 INFO sqlalchemy.engine.base.Engine ()

['Album', 'Artist', 'Genre', 'Track']

In [86]:
## open
metadata = MetaData(bind=engine, reflect=True)
metadata.reflect(bind=engine) # Load defined databases

for row in metadata.tables:
    print(row)

2019-07-09 14:24:34,579 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-07-09 14:24:34,581 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:34,586 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2019-07-09 14:24:34,588 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:34,592 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2019-07-09 14:24:34,594 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:34,600 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Album")
2019-07-09 14:24:34,601 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:34,605 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2019-07-09 14:24:34,606 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:34,617 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2019-07-09 14:24:34,619 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:34,622 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2019-07-09 14:24:34,623 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:34,626 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Artist")
2019-07-09 14:24:34,628 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:34,630 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2019-07-09 14:24:34,631 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:34,634 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Artist")
2019-07-09 14:24:34,636 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:34,639 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Artist")
2019-07-09 14:24:34,640 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:34,642 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2019-07-09 14:24:34,644 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:34,653 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Album")
2019-07-09 14:24:34,655 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:34,657 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Album")
2019-07-09 14:24:34,658 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:34,661 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2019-07-09 14:24:34,662 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:34,665 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2019-07-09 14:24:34,667 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:34,672 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2019-07-09 14:24:34,674 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:34,678 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Genre")
2019-07-09 14:24:34,679 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:34,681 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2019-07-09 14:24:34,683 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:34,688 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Genre")
2019-07-09 14:24:34,690 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:34,693 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Genre")
2019-07-09 14:24:34,696 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:34,698 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2019-07-09 14:24:34,701 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:34,704 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2019-07-09 14:24:34,705 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:34,708 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2019-07-09 14:24:34,711 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:34,714 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Track")
2019-07-09 14:24:34,716 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:34,718 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2019-07-09 14:24:34,720 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:34,723 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Track")
2019-07-09 14:24:34,724 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:34,727 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Track")
2019-07-09 14:24:34,729 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:34,731 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2019-07-09 14:24:34,732 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:24:34,737 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-07-09 14:24:34,739 INFO sqlalchemy.engine.base.Engine ()
Album
Artist
Genre
Track

C:\Users\skarn\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SADeprecationWarning: reflect=True is deprecate; please use the reflect() method.

# Declare

In [90]:
create_engine("sqlite:///ormmapping", echo=True)

Engine(sqlite:///ormmapping)

In [91]:
from sqlalchemy.ext.declarative import declarative_base

In [92]:
base = declarative_base()

## Create

In [93]:
class User(base):
    __tablename__ = "users"
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    password = Column("passwd", String)
    
    def __repr__(self):
        return "<T'User(name='%s', fullname='%s', password='%s')>"\
                % (self.name, self.fullname, self.password)

In [94]:
User.__table__

Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), Column('passwd', String(), table=<users>), schema=None)

In [97]:
User.__mapper__

In [100]:
# create table
base.metadata.create_all(engine)

2019-07-09 14:36:12,474 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2019-07-09 14:36:12,475 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:36:12,480 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	passwd VARCHAR,
	PRIMARY KEY (id)
)


2019-07-09 14:36:12,481 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:36:12,498 INFO sqlalchemy.engine.base.Engine COMMIT

In [101]:
# create instance
kim = User(name="kim", fullname="anonymous, Kim", password="kimbap heaven")

print(kim)
print(kim.id) ## None 이 되어야 함 id에 값을 주지 않았으며 db에 다녀오지 않음

<T'User(name='kim', fullname='anonymous, Kim', password='kimbap heaven')>
None

## Session
- binding과 비슷한 역할
- db와 base를 상속받은 object간의 연결을 담당

In [102]:
from sqlalchemy.orm import sessionmaker

In [103]:
Session = sessionmaker(bind=engine)
session = Session()

## Insert

In [105]:
session.add(kim)

session.add_all([
    User(name='lee', fullname='unknown, Lee', password="1231asd"),
    User(name='chan', fullname='namgung, chan', password="1231asd")
])
## pending.....

## Commit
- Flush pending

In [106]:
session.commit()

2019-07-09 14:47:28,938 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-07-09 14:47:28,943 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, passwd) VALUES (?, ?, ?)
2019-07-09 14:47:28,945 INFO sqlalchemy.engine.base.Engine ('kim', 'anonymous, Kim', 'kimbap heaven')
2019-07-09 14:47:28,949 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, passwd) VALUES (?, ?, ?)
2019-07-09 14:47:28,951 INFO sqlalchemy.engine.base.Engine ('lee', 'unknown, Lee', '1231asd')
2019-07-09 14:47:28,953 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, passwd) VALUES (?, ?, ?)
2019-07-09 14:47:28,955 INFO sqlalchemy.engine.base.Engine ('chan', 'namgung, chan', '1231asd')
2019-07-09 14:47:28,957 INFO sqlalchemy.engine.base.Engine COMMIT

## Update
- dirty : sync가 안맞는 지 알려줌

In [108]:
session.dirty

IdentitySet([])

In [109]:
session.add(User(name='e', fullname='known, Lee', password="1231d"))

In [114]:
kim.password = "password"

In [115]:
session.dirty

2019-07-09 14:51:11,500 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-07-09 14:51:11,504 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname
FROM users
WHERE users.id = ?
2019-07-09 14:51:11,505 INFO sqlalchemy.engine.base.Engine (1,)

IdentitySet([<T'User(name='kim', fullname='anonymous, Kim', password='password')>])

In [116]:
session.is_modified(kim)

True

In [117]:
kim.id ## sync가 맞춰짐. 엔진이 db 들어갔다 나왔다.

1

-----------------------------------------

In [12]:
conn.close()
metadata.clear()
engine.dispose()

NameError: name 'conn' is not defined

In [1]:
from sqlalchemy import create_engine
engine = create_engine("sqlite:///music_orm.db", echo=True)

In [2]:
engine

Engine(sqlite:///music_orm.db)

In [3]:
from sqlalchemy.ext.declarative import declarative_base

In [4]:
Base = declarative_base()

# Relationship
- relationship
    - provide a **relationship between two mapped classes**
    - This corresponds to a **parent-child or associative table** relationship
- back_populates / backref
    - **placed on the related mapper's class**

In [5]:
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey

In [6]:
from sqlalchemy.orm import relationship

In [13]:
class Artist(Base):
    __tablename__ = "Artist"
    id = Column(Integer, primary_key=True)
    name = Column(String)
    
    albumList = relationship("Album", back_populates="artist")
    
class Album(Base):
    __tablename__ = "Album"
    id = Column(Integer, primary_key=True)
    title = Column(String)
    artist_id = Column(Integer, ForeignKey("Artist.id"))
    
    artist = relationship("Artist", back_populates="albumList", uselist=False)
    trackList = relationship("Track", back_populates="album")
    
class Genre(Base):
    __tablename__ = "Genre"
    id = Column(Integer, primary_key=True)
    name = Column(String)
    
    trackList = relationship("Track", back_populates="genre")
    
class Track(Base):
    __tablename__ = "Track"
    id = Column(Integer, primary_key=True)
    title = Column(String)
    length = Column(Integer)
    rating = Column(Integer)
    count = Column(Integer)
    album_id = Column(Integer, ForeignKey("Album.id"))
    genre_id = Column(Integer, ForeignKey("Genre.id"))
    
    album = relationship("Album", back_populates="trackList", uselist=False)
    genre = relationship("Genre", back_populates="trackList", uselist=False)

C:\Users\skarn\Anaconda3\lib\site-packages\sqlalchemy\ext\declarative\clsregistry.py:120: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Artist, and will be replaced in the string-lookup table.
  item.__name__
C:\Users\skarn\Anaconda3\lib\site-packages\sqlalchemy\ext\declarative\clsregistry.py:120: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Album, and will be replaced in the string-lookup table.
  item.__name__
C:\Users\skarn\Anaconda3\lib\site-packages\sqlalchemy\ext\declarative\clsregistry.py:120: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Genre, and will be replaced in the string-lookup table.
  item.__name__
C:\Users\skarn\Anaconda3\lib\site-packages\sqlalchemy\ext\declarative\clsregistry.py:120: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Track, and will be replaced in the string-lookup table.
  item.__name__

In [14]:
Base.metadata.clear()

# RE

In [15]:
import re

In [16]:
content = "Hello World"

In [17]:
print(re.search("W", content))
print(re.match("W", content))

<_sre.SRE_Match object; span=(6, 7), match='W'>
None

In [18]:
data='''
park 800905-1049118
kim 700905-1059119
'''

pat = re.compile("(\d{6})[-]\d{7}")
print(pat.sub("\g<1>-*******", data))

park 800905-*******
kim 700905-*******

In [19]:
p = re.compile('Crow|Servo')
m = p.match('CrowHello')
print(m)

<_sre.SRE_Match object; span=(0, 4), match='Crow'>

In [20]:
print(re.search('^Life', 'Life is too short'))

<_sre.SRE_Match object; span=(0, 4), match='Life'>

In [21]:
p = re.compile(r'\Bclass\b')
print(p.search('one subclass is'))

<_sre.SRE_Match object; span=(7, 12), match='class'>

In [23]:
# group
p = re.compile(r"\w+\s+\d+[-]\d+[-]\d+")
m = p.search("park 010-1234-1234")
print(m)

<_sre.SRE_Match object; span=(0, 18), match='park 010-1234-1234'>

In [25]:
m = re.match(r"(\w+) (\w+)", "Isaac Newton, physicist")
print(m.group(0))
print(m.group(1))
print(m.group(2))
print(m.group(1, 2))

Isaac Newton
Isaac
Newton
('Isaac', 'Newton')

In [26]:
print(m.group())

Isaac Newton

In [28]:
p = re.compile(r"(\w+) (\w+)")
m = p.search("Issac Newton, physicist")
print(m.group())

p.sub("\g<2> \g<1>", "Issac Newton, physicist")

Issac Newton

'Newton Issac, physicist'