In [1]:
import sqlite3

In [2]:
sqlite3.version

'2.6.0'

In [4]:
sqlite3.sqlite_version

'3.21.0'

## Database 연결(생성)

In [9]:
# conn = sqlite3.connect('경로/이름' or ':memory:')
conn = sqlite3.connect('./sqlite')

In [16]:
dir(conn) # 임시로 cursor를 생성. conn객체로 사용하지 말자.

['DataError',
 'DatabaseError',
 'Error',
 'IntegrityError',
 'InterfaceError',
 'InternalError',
 'NotSupportedError',
 'OperationalError',
 'ProgrammingError',
 'Warning',
 '__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'close',
 'commit',
 'create_aggregate',
 'create_collation',
 'create_function',
 'cursor',
 'enable_load_extension',
 'execute',
 'executemany',
 'executescript',
 'in_transaction',
 'interrupt',
 'isolation_level',
 'iterdump',
 'load_extension',
 'rollback',
 'row_factory',
 'set_authorizer',
 'set_progress_handler',
 'set_trace_callback',
 'text_factory',
 'total_changes']

## Cursor 생성

In [13]:
cur = conn.cursor()

In [14]:
type(cur)
dir(cur)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'arraysize',
 'close',
 'connection',
 'description',
 'execute',
 'executemany',
 'executescript',
 'fetchall',
 'fetchmany',
 'fetchone',
 'lastrowid',
 'row_factory',
 'rowcount',
 'setinputsizes',
 'setoutputsize']

In [18]:
cur.execute('''SELECT sqlite_version()''') # execute()는 하나의 statement만 실행해서 ';' 없어도 실행가능

In [20]:
cur.fetchall()

[('3.21.0',)]

In [21]:
sqlite3.complete_statement('''SELECT sqlite_version()''') # SQL 구문을 올바르게 작성했는지 check
# 세미콜론 없기 때문에 false

False

## Execute

In [24]:
cur.execute('''CREATE table people (name_last, age)''')

who = "Yeltsin"
age = 72

# qmark style
cur.execute('''INSERT into people VALUES (?, ?)''', (who, age))
conn.commit()
# named style
cur.execute('''SELECT * FROM people WHERE name_last =:who AND age=:age''', {"who":who, "age":age})
conn.commit()

print(cur.fetchone())

('Yeltsin', 72)

### excutemany

In [27]:
sql = '''INSERT INTO people VALUES (?,?)'''
curData = [('A',1), ('B',2), ('C',3)]

cur.executemany(sql, curData)

In [41]:
# named style
dataDict = [{"who":"E", "age":1}, {"who":"F", "age":2}]
sql = '''INSERT INTO people VALUES (:who, :age)'''

cur.executemany(sql, dataDict)

In [43]:
cur.execute("SELECT * FROM people")
cur.fetchall()

[('Yeltsin', 72), ('A', 1), ('B', 2), ('C', 3), ('E', 1), ('F', 2)]

In [44]:
conn.commit()

### excutescript

In [59]:
## commit후에 실행된다.
cur.executescript('''
    CREATE table person(
        first_name text PRIMARY KEY,
        last_name text NOT NULL
    );
        
    INSERT INTO person VALUES ("name", "kim");''')

In [60]:
cur.execute('''SELECT * FROM person''')
print(cur.fetchall())

[('name', 'kim')]

In [61]:
cur.close()
conn.commit()
conn.close()

## DML
### CREATE

In [97]:
conn = sqlite3.connect('./create.db')
print("open db successfully")
curr = conn.cursor()
curr.execute('''
    CREATE TABLE company(
        ID INT PRIMARY KEY NOT NULL,
        NAME TEXT NOT NULL,
        AGE INT NOT NULL,
        ADDRESS CHAR(50),
        SALARY REAL);
    ''')

print("Table created successfully")

open db successfully
Table created successfully

### INSERT

In [98]:
curr.execute("""
    INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY)
    VALUES (1, 'Paul', 32, 'California', 20000.00);
""")

curr.execute("""
    INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY)
    VALUES (:id, :name, :age, :address, :salary);
""", {"id":2, "name":"Allen", "age":25, "address":"Texas", "salary":15000.00})

data = [(3, 'Teddy', 23, 'Norway', 200000.00),
       (4, 'Mark', 25, 'Rich-Mond', 65000.00)]

curr.executemany("""
    INSERT INTO company (ID, NAME, AGE, ADDRESS, SALARY)
    VALUES (?, ?, ?, ?, ?)
""", data)

In [99]:
curr.lastrowid, conn.total_changes

(2, 4)

In [100]:
curr.executescript("""
    INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY)
    VALUES (5, 'Mark1', 25, 'Rich-Mond', 65000.00);
    
    INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY)
    VALUES (6, 'Mark2', 25, 'Rich-Mond', 65000.00);
""")

In [101]:
curr.lastrowid, conn.total_changes

(2, 6)

In [104]:
curr.execute("SELECT id, name, address, salary FROM company")

In [105]:
for row in curr:
    print('ID = ',row[0], type(row[0]))
    print('NAME = ',row[1], type(row[1]))
    print('ADDRESS = ',row[2], type(row[2]))
    print('SALARY = ',row[3], type(row[3]), end='\n\n')

print("Operation done!")

ID =  1 <class 'int'>
NAME =  Paul <class 'str'>
ADDRESS =  California <class 'str'>
SALARY =  20000.0 <class 'float'>

ID =  2 <class 'int'>
NAME =  Allen <class 'str'>
ADDRESS =  Texas <class 'str'>
SALARY =  15000.0 <class 'float'>

ID =  3 <class 'int'>
NAME =  Teddy <class 'str'>
ADDRESS =  Norway <class 'str'>
SALARY =  200000.0 <class 'float'>

ID =  4 <class 'int'>
NAME =  Mark <class 'str'>
ADDRESS =  Rich-Mond <class 'str'>
SALARY =  65000.0 <class 'float'>

ID =  5 <class 'int'>
NAME =  Mark1 <class 'str'>
ADDRESS =  Rich-Mond <class 'str'>
SALARY =  65000.0 <class 'float'>

ID =  6 <class 'int'>
NAME =  Mark2 <class 'str'>
ADDRESS =  Rich-Mond <class 'str'>
SALARY =  65000.0 <class 'float'>

Operation done!

In [106]:
curr.lastrowid, conn.total_changes

(6, 6)

### UPDATE

In [107]:
cid = 1
curr.execute("""UPDATE company SET salary = 25000.00 WHERE id = :id""", {'id':cid})

In [108]:
curr.lastrowid, conn.total_changes

(6, 7)

In [109]:
conn.commit()

In [110]:
curr.lastrowid, conn.total_changes

(6, 7)

### DELETE

In [111]:
curr.execute("""DELETE FROM company WHERE id = 2;""")

print("Total number of rows deleted :", conn.total_changes)

curr.execute("""SELECT id, name, address, salary FROM company""")

for row in curr:
    print("ID = ", row[0])

Total number of rows deleted : 8
ID =  1
ID =  3
ID =  4
ID =  5
ID =  6

In [112]:
conn.commit()

## 예제

### Table 생성
### INSERT

In [153]:
conn = sqlite3.connect('./music.db')
curr = conn.cursor()

In [130]:
curr.execute('''
    INSERT INTO album (title, artist_id)
    VALUES(:album, 
        (SELECT id
        FROM artist
        WHERE name = :artist));
''',{'album':'앨범이름', 'artist':'Led Zepplin'})

In [131]:
conn.commit()

In [126]:
curr.close()
conn.close()

In [136]:
curr.execute('''
    INSERT INTO album (title, artist_id)
    VALUES(:album, 
        (SELECT id
        FROM artist
        WHERE name = :artist));
''',{'album':'IV', 'artist':'Led Zepplin'})

In [137]:
curr.execute('''
    INSERT INTO album (title, artist_id)
    VALUES(:album, 
        (SELECT id
        FROM artist
        WHERE name = :artist));
''',{'album':'Who Made Who', 'artist':'AC/DC'})

In [138]:
conn.commit()

In [150]:
curr.execute('''
    INSERT INTO track (title, rating, length, count, album_id, genre_id)
    VALUES(:title, :rating, :length, :count,
        (SELECT id
        FROM album
        WHERE title = :album_title),
        :genre_id
        );
''',{'title':'Stairway', 'rating':5, 'length':482, 'count':0, 'album_title':'IV', 'genre_id':1})

In [151]:
conn.commit()

In [152]:
curr.close()
conn.close()

In [154]:
curr.execute('''
   SELECT album.title, artist.name
   FROM album
   JOIN artist
   ON album.artist_id = Artist.id
''')

In [156]:
for row in curr:
    print(row)

('IV', 'Led Zepplin')
('Who Made Who', 'AC/DC')

In [157]:
curr.execute('''
   SELECT track.title, genre.name
   FROM track
   JOIN genre
   ON track.genre_id = genre.id
''')

In [158]:
for row in curr:
    print(row)

('Black Dog', 'ROCK')
('Stairway', 'ROCK')
('About to Rock', 'Metal')
('Who Made Who', 'Metal')

In [159]:
curr.execute('''
   SELECT album.title, track.title
   FROM track
   JOIN album
   ON track.album_id = album.id
''')

In [160]:
for row in curr:
    print(row)

('IV', 'Black Dog')
('IV', 'Stairway')
('Who Made Who', 'About to Rock')
('Who Made Who', 'Who Made Who')

In [161]:
curr.execute('''
   SELECT track.title, artist.name, album.title, genre.name
   FROM track
   JOIN artist join album join genre
       ON track.album_id = album.id
       AND track.genre_id = genre.id
       AND album.artist_id = artist.id
''')

In [162]:
for row in curr:
    print(row)

('Black Dog', 'Led Zepplin', 'IV', 'ROCK')
('Stairway', 'Led Zepplin', 'IV', 'ROCK')
('About to Rock', 'AC/DC', 'Who Made Who', 'Metal')
('Who Made Who', 'AC/DC', 'Who Made Who', 'Metal')