In [1]:
import seaborn as sns

In [3]:
tips = sns.load_dataset('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
tips.sex.map({'Male':1, 'Female':2}).head() # 함수냐 딕셔너리냐 시리즈냐
# map은 series에서만 쓸 수 있다.

0    2
1    1
2    1
3    1
4    2
Name: sex, dtype: int64

In [ ]:
tips.sex.map(lambda).head() # 시리즏 데이터가 하나씩 들어감